*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  inline-size: 1140px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list:hover > .search-form__label:hover {
  text-decoration: underline;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFF;
}

.search-form__pseudo-checkbox::before {
  display: none;
  content: '';
  inline-size: 15px;
  block-size: 15px;
  background-color: #FFF;
}

input[type='checkbox']:checked ~ .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  cursor: text;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
  background-color: inherit;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-right: none;
  border-left: none;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
} 

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  cursor: default;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow: auto;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFF;
  margin: 2px;
  min-width: 394px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration-line: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid currentColor;
  background-color: transparent;
  block-size: 34px;
}

button:focus {
  outline: none;
}

.more-button {
  inline-size: 399px;
}

button:focus-visible {
  outline: 1px solid #FFF;
}

button:hover {
  text-decoration-line: underline;
}

button:active {
  background: #545050;
}

.search-form__submit-button {
  inline-size: 194px;
  margin-top: 20px;
}